/* Write your CSS here */
.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
}

.heading {
  color: #05acff;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}